<div class="container">
    <div class="row">
        <div class="page-header text-center">
            <h1>Nome do produto escolhido</h1>
        </div>
        <div class="col-xs-12">

            <div class="col-xs-12 col-md-6">
                <img src="../imagens/abacate.jpg" class="img-responsive" alt="Abacate" />
            </div>
            <div class="col-xs-12 col-md-6">
                <p>Descrição do produto falado algumas detalhes e especificações e mais algumas coisas para encher essa coluna</p>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc purus dui, sagittis vel finibus et, mattis
                    id orci. Phasellus a tellus magna. In risus urna, iaculis sed eros ac, vulputate vehicula ligula. Duis
                    et leo convallis, feugiat ipsum sed, vestibulum leo. Proin blandit ipsum nec ligula bibendum, eget dapibus
                    lectus efficitur.</p>
            </div>
            <div class="col-xs-12 text-center">
                <p class="label label-success">R$ 99,99</p>

                <!-- tenho q distanciar esse label do botão
                de uma maneira mais elegante -->

                <br/> <br/>

                <button class="btn btn-success">Adicionar ao Carrinho</button>
            </div>
        </div>
    </div>
</div>

<hr id="separador" />


<div class="col-sm-12 text-center ">
    <h3>Produtos Semelhantes</h3>
    <div class="col-xs-12 col-sm-6 col-md-4">
        <div class="media">
            <div class="media-right">
                <img src="../imagens/abacate-thumb.jpg" class="media-object" alt="Abacate" />
            </div>
            <div class="media-body">
                <p>Alguma mini descrição</p>
                <span class="label label-success">R$ 45,12</span> <br/>
                <button class="btn btn-success">Comprar</button>
            </div>
        </div>
    </div>
    <div class="col-xs-12 col-sm-6 col-md-4">
        <div class="media">
            <div class="media-right">
                <img class="media-object" src="../imagens/abacate-thumb.jpg" alt="Abacate Delicioso" />

            </div>
            <div class="media-body">
                <p>Alguma mini descrição</p>
                <span class="label label-success">R$ 45,12</span> <br/>
                <button class="btn btn-success">Comprar</button>
            </div>
        </div>
    </div>
    <div class="col-xs-12 col-sm-6 col-md-4">
        <div class="media">
            <div class="media-right">
                <img class="media-object" src="../imagens/abacate-thumb.jpg" alt="Abacate Delicioso" />
            </div>
            <div class="media-body">
                <p>Alguma mini descrição</p>
                <span class="label label-success">R$ 45,12</span> <br/>
                <button class="btn btn-success">Comprar</button>
            </div>
        </div>
    </div>

</div>

<hr id="separador" />