<hr id="separador" />


<div class="col-sm-12 text-center ">
    <div class="col-sm-4">
        <div class="media">
            <div class="media-center">
                <span class="glyphicon glyphicon-plane"></span>
            </div>
            <div class="media-body">
                <h4 class="media-header">Encomendas</h4>
                <p>Alguma mini descrição</p>
            </div>
        </div>
    </div>
    <div class="col-sm-4">
        <div class="media">
            <div class="media-center">
                <span class="glyphicon glyphicon-knight"></span>
            </div>
            <div class="media-body">
                <h4 class="media-header">Entregas</h4>
                <p>Alguma mini descrição</p>
            </div>
        </div>
    </div>
    <div class="col-sm-4">
        <div class="media">
            <div class="media-center">
                <span class="glyphicon glyphicon-credit-card"></span>
            </div>
            <div class="media-body">
                <h4 class="media-header">Forma de Pagamento</h4>
                <p>Alguma mini descrição</p>
            </div>
        </div>
    </div>
</div>

<hr id="separador" />