<div class="container">
    <div class="row">
        <div class="page-header text-center">
            <h1>Fale conosco</h1>
        </div>
        <div class="col-xs-12">
            <div class="jumbotron">
                <div class="container">
                    <div class="col-xs-12 col-sm-4">
                        <p>Telefone:</p>
                    </div>
                    <div class="col-xs-12 col-sm-8">
                        <p>(15)9879-5879</p>
                    </div>
                    <div class="col-xs-12 col-sm-4">
                        <p>Email:</p>
                    </div>
                    <div class="col-xs-12 col-sm-8">
                        <p>Exemplo@hotmail.com</p>
                    </div>
                    <div class="col-xs-12 col-sm-12">
                        <p>Ou nos mande uma mensagem:</p>

                        <div class="form-group">
                            <textarea class="form-control" id="" cols="30" rows="10" placeholder="Escreva sua mensagem aqui..."></textarea>
                        </div>

                        <button class="btn btn-primary pull-right">Manda Mensagem</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>