<div class="container">
    <div class="row">
        <div class="page-header text-center">
            <h1>Toalhas de Banho</h1>
        </div>
        <div class="col-xs-12">
            <div class="col-xs-12 col-sm-6 col-md-4">
                <div class="thumbnail">
                    <a href="http://localhost:8080/#!/produtos/toalha-de-banho/1">
                        <img src="../imagens/abacate.jpg" alt="Abacate" /></a>
                    <div class="caption text-center">
                        <h4>Nome do Produto</h4>
                        <p>Lorem Aibitr Lorem Aibitr Lorem Aibitr remndnu rkotujre Aibitr Lorem Aibitr remndnu rkotujre</p>
                        <p class="label label-success">R$ 12,00</p>
                        <button type="button" class="btn btn-default">Comprar</button>
                    </div>
                </div>
            </div>

            <div class="col-xs-12 col-sm-6 col-md-4">
                <div class="thumbnail">
                    <a href="http://localhost:8080/#!/produtos/toalha-de-banho/1">
                        <img src="../imagens/abacate.jpg" alt="Abacate" /></a>
                    <div class="caption text-center">
                        <h4>Nome do Produto</h4>
                        <p>Lorem Aibitr Lorem Aibitr Lorem Aibitr remndnu rkotujre Aibitr Lorem Aibitr remndnu rkotujre</p>
                        <p class="label label-success">R$ 12,00</p>
                        <button type="button" class="btn btn-default">Comprar</button>
                    </div>
                </div>
            </div>

            <div class="col-xs-12 col-sm-6 col-md-4">
                <div class="thumbnail">
                    <a href="http://localhost:8080/#!/produtos/toalha-de-banho/1">
                        <img src="../imagens/abacate.jpg" alt="Abacate" /></a>
                    <div class="caption text-center">
                        <h4>Nome do Produto</h4>
                        <p>Lorem Aibitr Lorem Aibitr Lorem Aibitr remndnu rkotujre Aibitr Lorem Aibitr remndnu rkotujre</p>
                        <p class="label label-success">R$ 12,00</p>
                        <button type="button" class="btn btn-default">Comprar</button>
                    </div>
                </div>
            </div>

            <div class="col-xs-12 col-sm-6 col-md-4">
                <div class="thumbnail">
                    <img src="../imagens/abacate.jpg" alt="Abacate" />
                    <div class="caption text-center">
                        <h4>Nome do Produto</h4>
                        <p>Lorem Aibitr Lorem Aibitr Lorem Aibitr remndnu rkotujre Aibitr Lorem Aibitr remndnu rkotujre</p>
                        <p class="label label-success">R$ 12,00</p>
                        <button type="button" class="btn btn-default">Comprar</button>
                    </div>
                </div>
            </div>

            <div class="col-xs-12 col-sm-6 col-md-4">
                <div class="thumbnail">
                    <img src="../imagens/abacate.jpg" alt="Abacate" />
                    <div class="caption text-center">
                        <h4>Nome do Produto</h4>
                        <p>Lorem Aibitr Lorem Aibitr Lorem Aibitr remndnu rkotujre Aibitr Lorem Aibitr remndnu rkotujre</p>
                        <p class="label label-success">R$ 12,00</p>
                        <button type="button" class="btn btn-default">Comprar</button>
                    </div>
                </div>
            </div>

            <div class="col-xs-12 col-sm-6 col-md-4">
                <div class="thumbnail">
                    <img src="../imagens/abacate.jpg" alt="Abacate" />
                    <div class="caption text-center">
                        <h4>Nome do Produto</h4>
                        <p>Lorem Aibitr Lorem Aibitr Lorem Aibitr remndnu rkotujre Aibitr Lorem Aibitr remndnu rkotujre</p>
                        <p class="label label-success">R$ 12,00</p>
                        <button type="button" class="btn btn-default">Comprar</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-xs-12 text-center">
            <nav aria-label="Page Navigation">
                <ul class="pagination">
                    <li class="disabled">
                        <a href="#" aria-label="Previous">
                            <span aria-hidden="true">&laquo;</span>
                        </a>
                    </li>
                    <li class="active"><a href="#">1</a></li>
                    <li><a href="#">2</a></li>
                    <li><a href="#">3</a></li>
                    <li>
                        <a href="#" aria-label="Next">
                            <span aria-hidden="true">&raquo;</span>
                        </a>
                    </li>
                </ul>
            </nav>
        </div>
    </div>
</div>