<div class="container">
    <div class="row">
        <div class="page-header">
            <h1>Quem somos</h1>
        </div>
        <div class="col-xs-12">
            <div class="media">
                <div class="media-left">
                    <a href="#">
                        <img src="../imagens/abacate-thumb.jpg" alt="Abacatão" class="media-object  img-circle">
                    </a>
                </div>
                <div class="media-body">
                    <h4 class="media-heading">Missão</h4>
                    <p class="text-justify">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed posuere viverra velit, non imperdiet dui
                        consectetur consectetur. Etiam imperdiet metus augue, quis tincidunt quam dignissim eget. Curabitur
                        sit amet ipsum et metus mollis condimentum et non neque. Etiam semper pellentesque elit,
                    </p>
                </div>
            </div>

            <div class="media">
                <div class="media-right pull-right">
                    <a href="#">
                        <img src="../imagens/abacate-thumb.jpg" alt="Abacatão" class="media-object  img-circle">
                    </a>
                </div>
                <div class="media-body text-right">
                    <h4 class="media-heading">Valores</h4>
                    <p class="text-justify">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed posuere viverra velit, non imperdiet dui
                        consectetur consectetur. Etiam imperdiet metus augue, quis tincidunt quam dignissim eget. Curabitur
                        sit amet ipsum et metus mollis condimentum et non neque. Etiam semper pellentesque elit,
                    </p>
                </div>
            </div>

            <div class="media">
                <div class="media-left">
                    <a href="#">
                        <img src="../imagens/abacate-thumb.jpg" alt="Abacatão" class="media-object  img-circle">
                    </a>
                </div>
                <div class="media-body">
                    <h4 class="media-heading">Visão</h4>
                    <p class="text-justify">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed posuere viverra velit, non imperdiet dui
                        consectetur consectetur. Etiam imperdiet metus augue, quis tincidunt quam dignissim eget. Curabitur
                        sit amet ipsum et metus mollis condimentum et non neque. Etiam semper pellentesque elit,
                    </p>
                </div>
            </div>

            <div class="media">
                <div class="media-right pull-right">
                    <a href="#">
                        <img src="../imagens/abacate-thumb.jpg" alt="Abacatão" class="media-object  img-circle">
                    </a>
                </div>
                <div class="media-body text-right">
                    <h4 class="media-heading">Quem Cria</h4>
                    <p class="text-justify">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed posuere viverra velit, non imperdiet dui
                        consectetur consectetur. Etiam imperdiet metus augue, quis tincidunt quam dignissim eget. Curabitur
                        sit amet ipsum et metus mollis condimentum et non neque. Etiam semper pellentesque elit,
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>

<hr id="separador" />